$sidebar_headingAndHover_color: hsl(35, 77%, 62%);
$active_bgbutton_color: hsl(5, 85%, 63%);

$white: hsl(36, 100%, 99%);
$slider_text: hsl(233, 8%, 79%);
$card_text_color: hsl(236, 13%, 42%);
$heading_color: hsl(240, 100%, 5%);
